In [1]:
import numpy as np
import pandas as pd
import sklearn

In [ ]:
pwd

In [3]:
df_aq_weather_static_merged = pd.read_csv("Combined_air_pollutants_data_with_caqi.csv")
df_aq_weather_static_merged.head()

,index,powiat_voivod,DATE,LAT,LON,NO2_24H_AVG_POLLUTION,O3_24H_AVG_POLLUTION,PM10_24H_AVG_POLLUTION,PM25_24H_AVG_POLLUTION,CC,...,"[crop production] sugar beets, area in ha, total","[crop production] rape and turnip rape, area in ha, total","[crop production] permanent meadows, area in ha, total","[crop production] permanent pastures, area in ha, total",NO2_sub_idx,O3_sub_idx,PM10_sub_idx,PM25_sub_idx,CAQI_idx,CAQI_level
0,0,"powiat aleksandrowski, kujawsko-pomorskie",2017-01-01,52.888422,18.780908,NaN,32.22,24.968064,NaN,4.746750,...,1184.0,2616.0,2320.0,406.0,NaN,13.425000,24.968064,NaN,24.968064,vlow
1,1,"powiat aleksandrowski, kujawsko-pomorskie",2017-01-02,52.888422,18.780908,NaN,34.62,17.943745,NaN,6.167555,...,1184.0,2616.0,2320.0,406.0,NaN,14.425000,17.943745,NaN,17.943745,vlow
2,2,"powiat aleksandrowski, kujawsko-pomorskie",2017-01-03,52.888422,18.780908,NaN,42.00,14.477950,NaN,5.198131,...,1184.0,2616.0,2320.0,406.0,NaN,17.500000,14.477950,NaN,17.500000,vlow
3,3,"powiat aleksandrowski, kujawsko-pomorskie",2017-01-04,52.888422,18.780908,NaN,57.46,8.418471,NaN,8.432231,...,1184.0,2616.0,2320.0,406.0,NaN,23.941667,8.418471,NaN,23.941667,vlow
4,4,"powiat aleksandrowski, kujawsko-pomorskie",2017-01-05,52.888422,18.780908,NaN,64.62,13.189740,NaN,4.992977,...,1184.0,2616.0,2320.0,406.0,NaN,26.925000,13.189740,NaN,26.925000,low

In [4]:
df = df_aq_weather_static_merged.drop(['index', 'LAT', 'LON','voivodship','powiat_voivod', 'NO2_24H_AVG_POLLUTION', 'O3_24H_AVG_POLLUTION', 'PM10_24H_AVG_POLLUTION', 'PM25_24H_AVG_POLLUTION',
        'NO2_sub_idx', 'O3_sub_idx', 'PM10_sub_idx', 'PM25_sub_idx','CAQI_idx'], axis=1)
df.head()

,DATE,CC,FG,HU,RR,SD,TG,[animal stock] total,[area by land] total in ha,[area by land] utilised agricultural area,...,"[vehicles by type and fuel] road tractors, diesel oil","[vehicles by type and fuel] road tractors, Liquefied Petroleum Gas","[vehicles by type and fuel] road tractors, others","[crop production] cereals, grand total, area in ha, total","[crop production] potatoes, area in ha, total","[crop production] sugar beets, area in ha, total","[crop production] rape and turnip rape, area in ha, total","[crop production] permanent meadows, area in ha, total","[crop production] permanent pastures, area in ha, total",CAQI_level
0,2017-01-01,4.746750,0.0,88.4,1.0,0.0,1.8,21374.0,47500.0,1.718015,...,303.0,2.0,21.0,16319.0,636.0,1184.0,2616.0,2320.0,406.0,vlow
1,2017-01-02,6.167555,36.8,88.4,1.0,0.0,0.5,21374.0,47500.0,1.718015,...,303.0,2.0,21.0,16319.0,636.0,1184.0,2616.0,2320.0,406.0,vlow
2,2017-01-03,5.198131,0.0,88.4,63.0,0.0,0.3,21374.0,47500.0,1.718015,...,303.0,2.0,21.0,16319.0,636.0,1184.0,2616.0,2320.0,406.0,vlow
3,2017-01-04,8.432231,64.2,88.4,10.0,0.0,1.2,21374.0,47500.0,1.718015,...,303.0,2.0,21.0,16319.0,636.0,1184.0,2616.0,2320.0,406.0,vlow
4,2017-01-05,4.992977,0.0,82.4,2.0,1.0,-3.9,21374.0,47500.0,1.718015,...,303.0,2.0,21.0,16319.0,636.0,1184.0,2616.0,2320.0,406.0,low

In [5]:
df['DATE']=df['DATE'].astype('datetime64')

In [6]:
df['date_offset'] = (df.DATE.dt.month*100 + df.DATE.dt.day - 320)%1300

df['season'] = pd.cut(df['date_offset'], [0, 300, 602, 900, 1300], 
                      labels=['spring', 'summer', 'autumn', 'winter'])
df = df.drop(['date_offset', 'DATE'], axis=1)

In [7]:
data = df.copy()
target = data.pop('CAQI_level')
data.head()
data = pd.get_dummies(data, columns=['season' ], drop_first=True).astype('float')
data.head()

,CC,FG,HU,RR,SD,TG,[animal stock] total,[area by land] total in ha,[area by land] utilised agricultural area,[area by land] forests,...,"[vehicles by type and fuel] road tractors, others","[crop production] cereals, grand total, area in ha, total","[crop production] potatoes, area in ha, total","[crop production] sugar beets, area in ha, total","[crop production] rape and turnip rape, area in ha, total","[crop production] permanent meadows, area in ha, total","[crop production] permanent pastures, area in ha, total",season_summer,season_autumn,season_winter
0,4.746750,0.0,88.4,1.0,0.0,1.8,21374.0,47500.0,1.718015,0.631701,...,21.0,16319.0,636.0,1184.0,2616.0,2320.0,406.0,0.0,0.0,1.0
1,6.167555,36.8,88.4,1.0,0.0,0.5,21374.0,47500.0,1.718015,0.631701,...,21.0,16319.0,636.0,1184.0,2616.0,2320.0,406.0,0.0,0.0,1.0
2,5.198131,0.0,88.4,63.0,0.0,0.3,21374.0,47500.0,1.718015,0.631701,...,21.0,16319.0,636.0,1184.0,2616.0,2320.0,406.0,0.0,0.0,1.0
3,8.432231,64.2,88.4,10.0,0.0,1.2,21374.0,47500.0,1.718015,0.631701,...,21.0,16319.0,636.0,1184.0,2616.0,2320.0,406.0,0.0,0.0,1.0
4,4.992977,0.0,82.4,2.0,1.0,-3.9,21374.0,47500.0,1.718015,0.631701,...,21.0,16319.0,636.0,1184.0,2616.0,2320.0,406.0,0.0,0.0,1.0

In [8]:
target.head()

0    vlow
1    vlow
2    vlow
3    vlow
4     low
Name: CAQI_level, dtype: object

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, target)

print(f'X_train shape: {X_train.shape}')
print(f'X_test shape: {X_test.shape}')
print(f'y_train shape: {y_train.shape}')
print(f'y_test shape: {y_test.shape}')

X_train shape: (271161, 133)
X_test shape: (90387, 133)
y_train shape: (271161,)
y_test shape: (90387,)

In [15]:
from sklearn.ensemble import RandomForestClassifier

classifier = RandomForestClassifier(min_samples_leaf = 3, n_estimators=600, random_state=42)

classifier.fit(data, target)

RandomForestClassifier(min_samples_leaf=3, n_estimators=600, random_state=42)

In [16]:
classifier.score(data, target)

0.8550593558808236

In [17]:
from sklearn.metrics import accuracy_score

y_pred = classifier.predict(X_test)

accuracy_score(y_test, y_pred)

0.8546472390941176